.root {
  margin: 0 0;
}

.stockSim {
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 20px;
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}


.navbar-bg {
  color: #1b1c1e;
  opacity: 100%;
  z-index: 100;
  position: static;
}

.aboutUs {
  position: relative;
  padding-top: 20px;
  right: 60px;
  padding-bottom: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.portfolio{
  position: relative;
  padding-top: 20px;
  right: 40px;
  padding-bottom: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.dashLink{
  position: relative;
  padding-top: 20px;
  right: 19px;
  padding-bottom: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.features {
  position: relative;
  padding-top: 20px;
  right: 45px;
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.logo {
  position: relative;
  /* left: 20px; */
  /* position: fixed; */
  /* width: auto; */
  /* height: auto;
  left: 150px;
  top: 138px;
  max-width: 100%;
  padding-right: 10px; */
  /* right: px; */
}

.imgOfLogo{
  position: relative;
  left: 10px;
  bottom: 8px;
}

.contactUs {
  position: relative;
  /* left: 750px; */
  right: 30px;
  padding-top: 20px;
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.signUp {
  position: relative;
  /* left: 800px; */
  right: 10px;
  padding-top: 20px;
  padding-bottom: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

nav {
  top: 0px;
  box-shadow: 0px 13px 24px 0px rgba(100, 0, 100, 0.06);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 100%;
  animation: 1s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-link:hover {
  color: red !important;
}

.navbar-collapse.collapse {
  display: block;
}

@media (max-width: 991px) {
  nav .navbar-collapse.collapse {
    overflow: hidden;
  }

  nav .navbar-collapse.active {
    height: 20vh !important;
  }
}

nav .navbar-collapse {
  transition: 0.6s all ease-in-out;
  height: 0 !important;
}
/* 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255 , 0, 100, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;

} */
